/*==== Pre-settings =======================================*/
*{-webkit-box-sizing: border-box;box-sizing: border-box; margin: 0; padding: 0; -webkit-transition: opacity 300ms ease; -o-transition: opacity 300ms ease; transition: opacity 300ms ease;}
html {scroll-behavior: smooth;}
a,a:visited{text-decoration: none; color: inherit;}
a:hover {text-decoration: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
ul li {list-style: none;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit;}

.d-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.align-center {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.space-between {
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.text-bold {font-weight: 800;}

body {
	font-family: 'Raleway', sans-serif;
}

.container {
	width: 85%;
	margin: 0 auto;
}

/*==== Header =========================*/

.header {
	width: 100%;
	padding: 1rem 0;
	-webkit-box-shadow: 0 3px 5px #bbb;
	        box-shadow: 0 3px 5px #bbb;
	position: fixed;
	z-index: 33;
	background-color: rgba(255, 255, 255, 0.98);
	transition: .3s;
}

.main-logo {
	font-size: 1.6rem;
	text-transform: uppercase;
}

.navigation {
	width: 60%;
}

.nav-item {
	font-size: .9rem;
	letter-spacing: .5px;
	cursor: pointer;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.nav-item:hover,
.nav-item-active {
	color: #777;
}

.nav-item-menu {
	display: none;
	transition: .3s;
}

.plus img {
	width: 32px;
	height: 32px;
	transition: .3s;
	cursor: pointer;
}

.plus img:hover {opacity: .6;}

/*==== Mobile Menu =================*/

.mobile-menu {
	width: 100%;
	position: fixed;
	z-index: 22;
	top: 4rem;
	-webkit-box-shadow: 0 3px 5px #bbb;
	        box-shadow: 0 3px 5px #bbb;
	opacity: 0;
	position: fixed;
	top: -30rem;
}

.mobile-nav-item {
	background: #eee;
	font-size: 1.6rem;
	text-align: center;
	padding: 1rem 0;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
	transition: .8s;
}

.menu-close {display: none;}

.menu-icon,
	.menu-close,
	.menu-close img {
		width: 30px;
		height: 30px;
		transition: .4s;
	}

/*==== Call Us Block ===============*/

.call-us-block {
	width: 100vw;
	padding: 2rem 0;
	background: #000;
	color: #fff;
	z-index: 55;
	position: fixed;
	left: 200vw;
	opacity: 0;
	font-size: 2rem;
	transition: .8s;
}

.call-us-line {
	width: 22rem;
	height: 1px;
	background: #fff;
	margin-top: 1.1rem;
}

.call-us-phone {
	font-weight: 800;
}

.call-us-close img{
	width: 24px;
	height: 24px;
	transition: .3s;
	cursor: pointer;
}

.call-us-close img:hover {filter: drop-shadow(0 0 3px #fff );}

/*==== Intro Section ===============*/

.intro-section {
	padding-top: 6rem;
}

.main-heading-block {
	width: 100%;
	padding: 5rem 0 2rem 0;
}

.main-heading {
	font-size: 4rem;
	font-weight: 300;
}

.long-line-block {
	width: 100%;
	padding: 2rem 0;
}

.black-long-line {
	width: 100%;
	height: 1px;
	background: #000;
}

.btn {
	padding: 1rem 3rem;
	border: 1px solid #000;
	letter-spacing: 1px;
	font-weight: 300;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.btn:hover {
	color: #fff;
	background: #000;
}

.slider-block {
	width: 100%;
	height: auto;
	padding: 2rem 0;
}

.slider-block-item {
	width: 100%;
	height: 32rem;
}

.slide-01 {
	background: url(../img/slide01.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.slide-02 {
	background: url(../img/slide02.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.slide-03 {
	background: url(../img/slide03.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/*==== About Section ===============*/

.about-section {
	width: 100%;
	padding: 5rem 3rem;
}

.narrow-container {
	width: 65%;
	margin: 0 auto;
}

.left-border {
	border-left: 1px solid #000;
	padding: 5rem 0 0 2.5rem;
}

.section-heading {
	font-size: 1.8rem;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.section-text {
	margin: 2rem 0;
	padding-bottom: 1rem;
	color: #777;
	width: 60%;
	line-height: 1.6rem;
}

/*==== Projects Section ==============*/

.heading-block {
	align-items: center;
}

.projects-heading {
	width: 30rem;
	margin-left: 12rem;
}

.projects-grid {
	width: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-gap: 3vw;
	padding: 5rem 0;
}

.project-card {
	height: 21rem;
	cursor: pointer;
}

.project-card-img {
	width: 100%;
	height: 85%;
}

.project-image01 {
	background: url(../img/project-1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.project-image02 {
	background: url(../img/project-2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.project-image03 {
	background: url(../img/project-3.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.project-image04 {
	background: url(../img/project-4.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.project-card-title {
	text-transform: uppercase;
	padding-top: 1rem;
}

.check-more-block {
	align-items: center;
	justify-content: space-between;
}

.black-short-line {
	width: 20%;
	height: 1px;
	background: #000;
}

.check-more-heading {
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 300;
}

/*==== Credo Section ===============*/

.credo-section {
	padding: 6rem 0;
}

.advantage-block {
	justify-content: space-between;
	padding: 3rem 0;
}

.advantage-card {
	width: 33%;
}

.advantage-card-title {
	text-transform: uppercase;
}

.advantage-card-text {
	color: #777;
	padding: 1rem;
	line-height: 1.4rem;
}

.designers-photos-block {
	padding: 3rem 0;
	justify-content: space-between;
	align-items: center;
}

.designers-photo-01 {
	width: 34%;
	height: 20rem;
	background: url(../img/designing-01.jpg);
	background-size: cover;
	 background-position: center;
	 background-repeat: no-repeat;
}

.designers-photo-02 {
	width: 60%;
	height: 20rem;
	background: url(../img/designing-02.jpeg);
	background-size: cover;
	 background-position: center;
	 background-repeat: no-repeat;
}

.cite-block-wrapper {
	padding: 5rem 0;
}

.cite-block {
	width: 34%;
	height: auto;
	font-weight: 300;
	font-size: 1.6rem;
	letter-spacing: 1px;
}

/*==== Publications Section ================*/

.publications-heading-block {
	width: 100%;
	border-left: 1px solid #000;
	padding: 12rem 0 0 2rem;
}

.publications-heading {
	font-size: 2rem;
	text-transform: uppercase;
}

.publications-row {
	justify-content: space-between;
	padding: 5rem 0;
	align-items: center;
}

.publication-card {
	width: 30%;
	height: 18rem;
}

.publication-img {
	width: 100%;
	height: 70%;
	background-size: cover;
	 background-position: center;
	 background-repeat: no-repeat;
}

.publication-img-01 {
	background: url(../img/post-01.jpg);
}

.publication-img-02 {
	background: url(../img/post-02.jpg);
}

.publication-img-03 {
	background: url(../img/post-03.jpg);
}

.publication-heading {
	width: 100%;
	height: 18%;
	padding: 0.5rem 0;
	border-bottom: 1px solid #000;
}

.publication-date {
	width: 100%;
	height: 12%;
	padding: 0.5rem 0;
	font-size: .9rem;
	color: #777;
}

/*==== Footer ======================*/

.footer {
	padding: 5rem 0;
}

.footer-upper, .footer-lower {
	padding: 2rem 0;
	align-items: center;
}

.footer-upper {
	border-bottom: 1px solid #000;
}

.footer-navigation {
	width: 40%;
}

.footer-lower {
	font-size: .9rem;
	color: #777;
}















/*==== Media Queries ======================================*/

@media (max-width: 991px) {

	.container,
	.narrow-container {
		width: 90%;
	}
}

@media (max-width: 779px) {

	.narrow-container {
		width: 75%;
	}

	.navigation {width: 15%;}

	.nav-item,
	.call-us-line,
	.black-short-line {display: none;}

	.nav-item-menu {display: block;}

	.menu-icon,
	.menu-close,
	.menu-close img {
		width: 30px;
		height: 30px;
		transition: .4s;
	}

	.plus {margin: 0 1rem;}

	.main-heading {font-size: 3.2rem;}

	.projects-heading {
		width: 100%;
		margin-left: 0;
	}

	.advantage-block {
		flex-direction: column;
		padding: 2rem 1rem;
	}

	.advantage-card {
		width: 100%;
		margin-bottom: 3rem;
	}

	.cite-block {
		width: 80%;
	}

	.publications-row {
		flex-direction: column;
	}

	.publication-card {
		width: 100%;
		height: 22rem;
		margin-bottom: 2rem;
	}

	.publication-img {
		height: 76%;
		background-size: cover;
		 background-position: center;
		 background-repeat: no-repeat;
	}

	.publication-heading {
		height: 12%;
	}

	.footer {padding: 0;}

}

@media (max-width: 519px) {

	.main-heading-block {
		padding: 2rem 0;
	}
	
	.main-heading {
		font-size: 2.2rem;
		line-height: 2.4rem;	
	}

	.slider-block-item {		
		height: 18rem;
	}

	.narrow-container {
		width: 90%;
	}

	.about-section {
		width: 100%;
		padding-bottom: 4rem;
	}

	.left-border {
		padding: 1rem 0 1rem 1rem;
	}

	.section-heading {
		font-size: 1.6rem;
	}

	.section-text {
		margin: 2rem 0 0 0;
		width: 100%;
	}

	.call-us-block {font-size: 1rem;}

	.projects-grid {
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr;
		grid-gap: 3vw;
		padding: 5rem 0;
	}

	.check-more-block {
		flex-direction: column;
		text-align: center;
	}

	.check-more-heading {margin-bottom: 1rem;}

	.designers-photos-block {
		flex-direction: column;
	}

	.designers-photo-01,
	.designers-photo-02 {
		width: 100%;
		height: 18rem;
		margin-bottom: 1rem;
	}
}
